# Gradle files
.gradle
build/

# Rider files
.idea/
*.iml

# Local properties
local.properties

# Log files
*.log

# Kotlin
.kotlin/

# Mac
.DS_Store

#Build files
/app/build
/build
captures/
*.hprof
*.ap_
